<div class="listingsWrap">
  <h2>1711 West Terra Mar Drive, Pompano Florida</h2>

  <p>Fully furnished waterfront single-faily home with 4 bedrooms, 2 bathrooms, inground pool and private dock. Available for monthly lease. High Season Rental Rates: Dec 01 thru Apr 30: Monthly $5,000.00 - $12,000.00/mo Low Season Rental Rates: May 01 thru Nov 30: Monthly $4,000.00 - $10,000.00/mo Holiday Rental Rates: $6,000.00/mo</p>
  <section class='gallery' style="background-color: #F3F3F5">
    <div class="proWrap notMobile">
      <div class="gGrid2">
      </div>
    </div>
  </section>

<section class="deets">
  <div class="colLeft">
    <div id="map">
    </div>
  </div>


  <div class="colRight">
    <table class="details" cellpadding="0" cellspacing="0">
        <tbody><tr class="odd">
            <td><label>Price</label></td>
            <td>5,000</td>
        </tr>
        <tr class="even">
            <td><label>Bedrooms</label></td>
            <td>4</td>
        </tr>
        <tr class="odd">
            <td><label>Bathrooms</label></td>
            <td>2</td>
        </tr>
        <tr class="even">
            <td><label>Square Feet</label></td>
             <td>1911</td>
        </tr>
        <tr class="odd">
            <td><label>Furnished</label></td>
             <td>Yes</td>
        </tr>
        <tr class="even">
            <td><label>Parking</label></td>
             <td>Garage</td>
        </tr>
        <tr class="odd">
            <td><label>Pets Allowed</label></td>
             <td>Yes</td>
        </tr>
        <tr class="even">
            <td><label>Laundry</label></td>
             <td>Yes</td>
        </tr>
      </tbody>
    </table>
    <div class="call">
      <span>For more information, call 508.244.8299</span>
    </div>
  </div>
</section>


</div>
